.file-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  button {
    position: relative;
    z-index: 9;

    & label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  input {
    position: absolute;
    top: 50%;
    transform: translate3d(1em, -50%, 0);
    z-index: 1;
  }
}