.segmented-control {
  width: 272px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);

  & label {
    transition: background-color 0.5s ease;
    width: calc(50% - 4px);
    height: calc(48px - 8px);
    border-radius: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & img:nth-child(2) {
      display: none;
    }

    & img:nth-child(1) {
      display: block;
    }
  }

  & input {
    display: none;
    
    &:checked + label {
      color: var(--text-heading);      
      background-color: var(--shape-hover);

      & img:nth-child(2) {
        display: block;
      }
  
      & img:nth-child(1) {
        display: none
      }

    }
  }
}