#container {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1280px;
  margin-inline: auto;
}

#aside, #invite {
  border-radius: 12px;
  background-color: var(--shape-body);
  height: calc(100vh - 40px);;
}

#aside {
  background: url('../assets/Background.png') no-repeat center/cover;
  width: 100%;
  max-width: 400px;
  max-height: 728px;
  padding: 32px;

  & > img {
    width: 48px;
    margin-bottom: 1em;
  }

  & h2 {
    margin-top: 4px;
    color: var(--text-heading);
    font-size: 1em;
  }
}

#invite {
  flex: 1;
  padding: 80px;

  & > form {
    display: grid;
    gap: 48px;
    max-width: 560px;
    height: 100%;
    margin-inline: auto;
    padding-right: 2em;

    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 2px; /* Largura da barra */
    }
    
    /* Fundo da barra de rolagem */
    &::-webkit-scrollbar-track {
      background: var(--shape-body);
    }
    
    /* A parte móvel da barra de rolagem */
    &::-webkit-scrollbar-thumb {    
      background: var(--shape-hover); /* Cor da barra */
      border-radius: 12px;
    }
  }

  & section {
    display: grid;
    gap: 1em;

    & .flex {
      gap: 1em;
    }
  }
}
